<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"

        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.NCKH"
        tools:targetApi="31">
        <activity
            android:name=".NoteFunction.NoteFunctionAdjustActivity"
            android:exported="false" />
        <activity
            android:name=".NoteFunction.NoteFunctionAddActivity"
            android:exported="false" />
        <activity
            android:name=".NoteFunction.NoteFunctionActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".ReminderMenuActivityAPI"
            android:exported="false" />
        <activity
            android:name=".MindMapActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".MindMapMenuActivity"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.learn.TrueFalseFlashCardsActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.learn.QuizFolderActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.set.EditFlashCardActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.set.ViewSetActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.set.AddFlashCardActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.folder.ViewFolderActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.learn.SelectDefineActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.folder.AddToFolderActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.learn.QuizActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.learn.LearnActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.create.CreateFolderActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.create.CreateSetActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.search.ViewSearchActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.activities.FlashcardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>

            <activity
                android:name=".SplashActivity"
                android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>